$font-size: 16px;
$font-size--s: 14px;
$space: 5px;
$space--s: 2px;
$space--l: 10px;
// COLORS
$color-main: #41b883;
$color-main--dark: #338c64;
$color-background: #f5f5f5;
$color-grey: #CCCCCC; 
$color-lightGrey: #E6E6E6; 
$color-darkGrey: #7B7B7B; 
$line-height: $font-size + $space;
$line-height--s: $font-size--s + $space--s;